$primary: #2c0d32;
$secondary: #f82a5c;
$danger: #f82a5c;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: 0.9rem;
@import "../node_modules/bootstrap/scss/bootstrap";

body *{
  text-align: left;
  // overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.app_logo{
      margin: 10px auto;
}

.site-wrapper{
  background: #fff;
  padding: 20px;
  padding-top: 1px;
  padding-bottom: 64px;
  width: 1280px;
  max-width: 90%;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 15px;
  box-shadow: 20px 20px #4db5ea;
  margin: 10px auto;
}

.logos_container img{
  line-height: 100px;
  display: inline;
      margin-left: 12px;
    margin-right: 12px;
}
.logos_container a{
  padding: 8px 0px;
  background: #fff;
  display: inline-block;
  border-radius: 14px;
  
}
.logos_container a:hover{
  background: #f82a5c;
}
.logos_container a.left{
  box-shadow: 5px 5px #4db5ea;
}
.logos_container a.right{
  box-shadow: -5px 5px #4db5ea;
}
.logos_container .logo_img{
  width: 50%;
}
.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sign-out{
  color: $gray-600;
}
.sign-out:hover{
  color: $gray-300;
}

h3{
  font-size: calc(1.2825rem + 0.39vw) !important;
}

iframe{
  width: 0 !important;
  height: 0 !important;
}



.next-container{
      text-align: center;
    margin-top: 20px;
    padding: 40px;
}
.next-container p{
  text-align: center;
    font-size: 40px;
}
.next-container img{
  width: 160px;
    margin: 10px auto;
    border-radius: 20px;
    box-shadow: 0 0 50px #074868;
}

.punk-image{
  width: 160px;
    margin: 10px auto;
    border-radius: 20px;
    box-shadow: 0 0 50px #074868;
    display: inline-block;
}

.text-right{
  text-align: right;
}


/*
New styles
 */
.title{
  margin-top: 24px;
  font-size: 36px;
  text-align: right;
  font-weight: 900;
  font-family: system-ui;
  font-size: 80px;
  color: #fff;
  text-shadow: -6px 14px #8a1a9d;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
body{
  background-image: linear-gradient(188deg, #2b0d30, 50%, #4d005a, #2c0d32);
  background-repeat: no-repeat;
  background-color: #2c0d32;
}

.main-btn{
  color: rgb(255, 255, 255);
  border: 4px solid #fff;
  border-radius: 15px;
  height: 55%;
  padding: 9px 36px;
  background: transparent !important;
  margin: 20px auto;
}
.main-btn:hover{
  border-color: #fff;
  background: #fff !important;
  * {
    color: $primary;
  }
}

.social_url{
  // margin-right: 24px;
  color: #fff;
  font-size: 54px;
  transition: all  ease-in-out .2s;
}
.social_url:hover{
  color: #8a1a9d;
  transform: translate(0 20px);
}

.nav{
  // margin-top: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  // top: -34px;
  background: #2f0c35;
  padding: 10px;
  border-radius: 5px;
  width: 1920px;
  height: 200px;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  flex-flow: row;
  color: white;
  flex-grow: 1;
}
.nav img{
  height: 150px;
  width: 200px;
  // margin-left: 60px;
  border-radius: 50%;
}
.nav .nav-container{
  display: flex;
  padding-top: 1%;
  justify-content: center;
  height: 100%;
  width: 600px;
}
.nav .nav-container span{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width:30.5%;
  height: 50%;
  border-radius: 15px;
  word-spacing: 150px;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 1.8em;
  text-transform: uppercase;
  // border: 2px solid white;
  cursor: pointer;
}
.nav .logo-container{
  margin-right: 50px;
}
.nav .external{
  display: flex;
  justify-content: space-around;
  margin-left: 30px;
  width: 13%;
}
.nav .nav-container span:last-child{
  margin-right: 60px;
  width: 40%;
}

.nav .nav-container span:hover{
  text-decoration: underline;
  
}

.w_box{
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 20px #2c0d32;
  padding: 20px;
}
.subtitle{
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px !important;
  position: relative;
  padding-bottom: 12px;
  font-family: "Armata";
}
.subtitle:after{
  content: " ";
    width: 40px;
    height: 2px;
    background-color: #eea4fb;
    position: absolute;
    top: 28px;
    left: 0;
    display: inline-block;
}
.subtitle.no-border:after{
  display: 'none';
}
.collection_info{
  transition: all  ease-in-out .2s;
  background: #1e0722;
  text-align: center;
  box-shadow: 0 0 36px #6f247c;
  border-radius: 6px;
  margin: 0 auto 42px;
  .logo_image_container{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    overflow: hidden;
    margin: -40px auto 0;
    position: relative;
    border: 2px solid #8a1a9d;
    background-color: #2c0d32;
    padding: 2px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.collection_info .img_container{
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}
.collection_info img, .collection_info video{
  position: absolute;
  max-width: 100%;
  min-height: 100%;
}
.collection_info h3{
  font-size: 18px !important;
  text-align: center;
    padding: 12px;
    font-weight: 900;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #fff;
}
.collection_info p{
  text-align: center;
  padding: 0 20px;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.collection_info:hover{
  cursor: pointer;
  box-shadow: none;
}
.collection_info.disabled{
  opacity: .3;
  box-shadow: none;
}
.collection_info.current{
  box-shadow: none;
}
.collection_info.not_current{
  opacity: .6;
}
.collection_info.not_current:hover{
  opacity: 1;
}
.collection_info.current:hover, .collection_info.disabled:hover{
  cursor: default;
}
.collection_info p{
  text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.carousel-item{
  .collection_info{
    margin: 0 auto;
    margin-bottom: 46px;
  } 
}

.footer{
  margin-top: 40px;
  min-height: 90px;
  background: #2c0d32;
  padding: 42px;
}
a{
  color: #d6d6d6;
}


.call_to_action_choose_collection{
  text-align: center;
  color: #fff;
}
.call_to_action_choose_collection > div{
  text-align: center;
}


.bg_black_el {
  .event_container *{
    text-align: center;
  }
}
.bg_black_el * {
  color: #fff;
}
.bg_black_el .big_text{
  font-size: 24px;

}
.bg_black_el .big_text b{
  font-weight: 900;
}
.currency{
  color: #c166d1;
  text-shadow: -1px 1px #000;
}
.bg_black_el{
  .block_element {
    .text-danger{
      font-size: 36px;
      font-weight: 900;
    }
  }
}
.no_shadow{
  box-shadow: none;
}
.nft_container{
  max-width: 350px;
}


.pending {
 ul{
  li{
    color: rgb(255 255 255);
    margin-bottom: 12px;
    padding-bottom: 10px;
    border-bottom: 2px solid #5b1e66;
  }
 }  
}



.addresses_list{
  button{
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 23px;
  }
  span{
    position: relative;
    top: -15px;
    left: 10px;
    color: #fff;
    font-weight: bold;
  }
}



.main_address{
  color: #fff;
  text-align: right;
  margin-top: 12px;
}

.dropdown{
margin-top: 26px;
  .dropdown-toggle{
    cursor: pointer;
  }
  text-align: right;
  height: 127px;
  color: #fff;
  * {
  text-align: right;
  }
  .menu_child{
    background-color: #8a1a9d;
    padding: 0;
    * {
    color: #fff;
    }
    button:hover{
    background-color: #771887;
    }
  }
}



.modal-dialog{
  border: none;
  .modal-title{
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
  }
  .modal-header{
    border-bottom-color: #3b0d52;
  }
  .modal-content{
    background-color: #451c5e;
    border: none;
    border-radius: 0;
  }
  .modal-body{
    color: #fff;
  }
  button{
    background-color: #ce7add;
    width: 40px;
    opacity: 1;
  }
  button:hover{
    background-color: #fff !important;
  }
}


.to-mint-input{
  color: rgb(0, 0, 0);
  font-size: 70px;
  line-height: 90px;
  height: 110px !important;
  font-weight: bold;
}
.no-border:before, .no-border:after{
  content: "";
  width: 0;
  height: 0;
}

.ranking_container{
  color: #fff;
  padding: 15px 0;
  background: #5f2c68;
  div{
    text-align: center;
    span.highlight{
      color: #f82a5c;
      font-weight: bold;
    }
  }
}

.vertical_nav{
  .nav-link{
    cursor: pointer;
    color: #fff !important;
    &:hover{
      color: $danger !important;
    }
    &.current{
      color: $secondary !important;
    }
  }
}

.overflowed{
  overflow: hidden;
  max-height: 20px;
  &:hover{
    overflow: auto;
    max-height: inherit;
  }
}

.args_title{
  color: #480253;
    font-weight: bold;
    margin-top: 18px;
    font-size: 14px;
}

.bar-left-custom{
  background: rgb(96 22 109 / 60%);
    padding: 40px;
    border-radius: 20px;
}

.stacking_avaible{
  .collection_info{
    margin-bottom: 0;
  }
  margin-bottom: 24px;
  position: relative;
  .button_container{
    text-align: center;
    transition: all ease-in-out .3s;
    display: none;
    background: rgba(0,0,0,.4);
    width: 100%;
    height: 100%;
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
  }
  &:hover .button_container{
    display: block;
  }
}

.stacking_container{
  &.white_content{
    * {
      color: #fff;
    }
  }
  p{
    font-size: 12px;
  }
}


.upgrade_avaible{
  padding: 12px;
  &:hover{
    background: rgba(0,0,0,.4)
  }
  &.selected{
    background: $secondary
  }
  img{
    cursor: pointer;
    
    
  }
}





.superbig{
  font-size: 48px !important;
}



.buy_options{
  margin: 40px 0;
  .tit{
    font-size: 24px;
  }
  .selectable{
    font-size: 38px;
    font-weight: 900;
    margin: 10px 24px;
    cursor: pointer;
    &.selected {
      color: $secondary;
      cursor: default;
    }
  }
}

.package_list{
  .tit{
    font-size: 24px;
    margin-bottom: 24px;
  }
  margin-top: 24px;
  text-align: left !important;
  font-weight: bold;
  p{
  text-align: left !important;
    color: #333;
  }
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  line-height: inherit !important;
}

.mint_block{
  * {text-align: center;}
  .col-4{
    border: 1px solid #311d34;
    padding: 12px;
  }
  border: 1px solid #311d34;
  background: #2a0830;
  .number{
    display: block;
    font-size: 24px;
    font-weight: bold;
  }
  button{
  margin: 12px;
  }
}

.multiple_mint_select{
  * {
  text-align: center;
  }
}

.big-text{
  font-size: 32px;
  font-weight: 900;
}

@media (max-width: 1800px) {
  .nav{
    width: 1600px;
  }
}


@media (max-width: 1590px) {
  .nav{
    width: 1500px;
  }
}

@media (max-width: 1490px) {
  .nav{
    width: 1400px;
  }
}

@media (max-width: 1390px) {
  .nav{
    width: 1300px;
  }
}

@media (max-width: 1290px) {
  .nav{
    width: 1200px;
  }
}

@media (max-width: 1190px) {
  .nav{
    width: 1100px;
  }
}

@media (max-width: 1090px) {
  .nav{
    width: 1000px;
  }
}

